*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    size: 20px;

}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: #3a3a3a;
    display:inline-block;
    

}
li a::after{
    content: '';
    display:block;
    height: 4px;
    width:0;
    background: #c4c4f7;
    transition: all .5s
}


li a:hover::after{
    width:100%;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-img{
    max-width: 600px;
    height:500px;
   
    
    

}
.content-left{
    width:30%;
}

main h1{
    font-size: 50px;
    color:  rgb(6, 84, 186);
    text-transform: uppercase;
    
}

main h2{
    font-size: 65x;
    color:#fd9c0b;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
}
main p{
    font-size: 14px;
    font-weight:400 ;
    color: #333;
    line-height: 31.5px;
    margin: 30px 0;
}
.cta{
    padding: 15px 30px;
    background:#3434f4; 
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    color: white;
}
.signup-btn{
    padding: 5px 10px;
    background: #91d6f3; 
    outline: none;
    border: none;
    font-weight: 400;
    border-radius: 60px;
    color:black;
   

}
.logo{
  padding-top: 10px;  
    
}

@media(max-width:600px)
{header{
    
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    width:400px;
}


.hero-img{
    max-width:150px;
    height:150px;
}
main h1{
    font-size: 20px;
    color:  rgb(6, 84, 186);
    font-weight: 700;
    text-transform: uppercase;
   padding-left: 0; 
}

main h2{
    font-size:12px;
    color:#fd9c0b;
    font-weight: 400;
    text-transform: uppercase;
    
}
main p{
    font-size: 8px;
    font-weight:400 ;
    color: #333;
    line-height: 15px;
    margin: 10px 0;}

.cta{
        padding: 5px 3px;
        background:#3434f4; 
        outline: none;
        border: none;
        font-size: 10px;
        border-radius: 50px;
        color: white;
    }
.signup-btn{
        padding: 1px 3px;
        background: #91d6f3; 
        outline: none;
        border: none;
        font-weight: 400;
        border-radius: 60px;
        color:black;
}

.content-left{
    padding-left: 0px;
    width:100px;
    
}
.content-right{
   height:100px ;
    width:100px;

}
}